<div class="wrap">
	
	<div id="arian">
		<div class="pull-left"> <a href="#">Home</a>  </div>
		<div class="pull-right"> EN <a href="">FR</a> </div>
		<div class="clearfix"></div>
	</div>


	<div class="header">
		<h1 class="center">Find EPFL Courses</h1>
		<div class="subtitle center"> <a href="">About trailhead</a> – Academic Year  2012 - 2013</div>
	</div>
	
	<div class="intro center">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. 
	</div>

	<div style="height:30px;"></div>

	<div class=" well">
		<form class="form-search">
		 

		   <div class="input-append row-fluid">
		        <input placeholder="Search course:" class="span11" id="inputsearch" type="text">
		        <button type="submit" class="btn"><i class="icon-search"></i> </button>
		    </div>
		</form>

		<div class="row-fluid" style="font-size:0.8em;">
			<div class="span6">
				<a href="">Advanced search</a>
			</div>
		</div>
	</div>
</div>